<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Applause - HTML presentations powered by AngularJS</title>
    <meta name="description" content="HTML presentations powered by Angular JS">
    <meta name="viewport" content="width=device-width">
    <!-- build:css assets/styles/applause.css -->
    <link rel="stylesheet" href="assets/styles/main.css">
    <!-- endbuild -->
    <link rel="stylesheet" href="assets/theme/default.css">
    <!-- Chrome print bug. Credits to @hakimel http://goo.gl/rGoUvj -->
    <script>
      if( window.location.search.match(/pdf/gi) ) {
        var link = document.createElement('link');
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'assets/styles/pdf.css';
        document.getElementsByTagName('head')[0].appendChild(link);
      }
    </script>
  </head>
  <body ng-app="applauseApp" ng-keyup="keyup($event)">

    <div id="presentation" ng-controller="DeckCtrl" ng-cloak>

      <goto class="ph"></goto>

      <div class="container">

        <!-- =========== SLIDE =========== -->

        <slide>
          <h1 class="abs-center">AngularJs Quickstart</h1>
          <note>This is what is called a speaker note!</note>
        </slide>
        
        <slide steps="9">
          <h2>Per chi è il corso?</h2>
          <div step="1">
            <h4>Web Desingers</h4>
          </div>
          <div step="2">
            <h4>FE Developers (coming from Html, Css, jQuery)</h4>
          </div>
          <div step="3">
            <h4>Developer from other languages</h4>
          </div>
          <div step="4">
            <h2>Argomenti che tratteremo</h2>
          </div>
          <div step="5">
            <h4>Approccio MVVM tipico di Angular</h4>
          </div>
          <div step="6">
            <h4>Two-Way Data Binding</h4>
          </div>
          <div step="7">
            <h4>Consumo di risorse REST</h4>
          </div>
          <div step="8">
            <h4>Integrazione di componenti</h4>
          </div>
          <div step="9">
            <h2>Let's Start!</h2>
          </div>
        </slide>

        <slide steps="5">
          <h2>Cos'è AngularJs?</h2>
          <div step="1" class="text-center">
            <h3>Superheroic JavaScript MVW Framework</h3>
          </div>
          <div step="2">
            <h3>Static or Dynamic SPA (but not only)</h3>
          </div>
          <div step="3">
            <h3>Extend the Html</h3>
          </div>
          <div step="4">
            <h3>Quick, Expressive and modular</h3>
          </div>
          <div step="5">
            <h3>Hybrid Application (Ionic)</h3>
          </div>
          <note>W => Whatever Works for you</note>
        </slide>


        <slide steps="4">
          <h2>I vantaggi di AngularJs</h2>
          <div step="1">
            <h3>Applicazione Reattive</h3>
          </div>
          <div step="2">
            <h3>Sviluppo rapido</h3>
          </div>
          <div step="3">
            <h3>Modulare</h3>
          </div>
          <div step="4">
            <h3>Testabile</h3>
          </div>
          <note>Reattive => rispondono all'input dell'utente</note>
        </slide>

        <slide steps="3">
          <h2>Come funziona il corso?</h2>
          <div step="1">
            <h3>Poca Teoria (il minimo indispensabile)</h3>
          </div>
          <div step="2">
            <h3>Molta Pratica</h3>
          </div>
          <div step="3">
            <h2>Domande domande domande!</h2>
          </div>
        </slide>

        <slide steps="2">
          <h2>Data Binding</h2>
          <div step="1" class="text-center" style="margin-top: 100px">
            <input type="text" ng-model="name" placeholder="Insert your name!"/>
            <h3>Hi {{name}}!</h3>
          </div>
          <div step="2" style="margin-top: 100px">
              <div class="ng-non-bindable">
            <code prism class="language-markup">
                &lt;input type="text" ng-model="name" placeholder="Insert your name!"/&gt;
                &lt;div&gt;Hi &lbrace;{ name }}!&lt;/div&gt;
            </code>
              </div>

          </div>
        </slide>

      <slide steps="2">
        <h2>Cos'è il Data-Binding?</h2>
        <h3>
          In Angular per DataBinding si intende la sincronizzazione automatica del data fra la vista e la definizione del modello.
        </h3>
        <div step="1" class="col half">
          <img src="assets/images/One_Way_Data_Binding.png" height="255" width="400" alt="">
        </div>
        <div step="2" class="col half">
          <img src="assets/images/Two_Way_Data_Binding.png" height="290" width="400" alt="">
        </div>
        <note>Il valore nel template viene automaticamente sincronizzato con quello definito nel javascript</note>
      </slide>

        <slide bg-img="oscar.jpg" credits="TIME & LIFE Pictures http://life.time.com/?attachment_id=11373">
          <h2 class="left">Auto fitting images</h2>
          <p class="light-text">Add the "bg-img" attribute to your slide element:<br><code class="inline">&lt;slide <strong>bg-img</strong>="path/to/image"&gt;</code><br>without worrying about the image size.</p>
          <p class="light-text">You can add credits too (with autolink)<br><code class="inline">&lt;slide bg.img="..." <strong>credits</strong>="..."&gt;</code></p>
        </slide>

        <slide>
          <h3 class="abs-center">Add<br>class="abs-center"<br>to an item to center it</h3>
        </slide>

        <slide steps="3">
          <h2>Steps</h2>
          <h3>You can have a slide with multiple steps</h3>
          <div step="1">Split your slide with a simple attribute</div>
          <br><br>
          <div step="2">Just add:</div>
          <div step="3">
            <pre prims class="language-markup">
              &lt;slide <strong>steps="2"</strong>&gt;
                &lt;div step="1"&gt;First Step&lt;/div&gt;
                &lt;div step="2"&gt;Second Step&lt;/div&gt;
              &lt;/slide&gt;
            </pre>
          </div>
        </slide>

        <slide>
          <h1>Do you like that?</h1>
          <img class="center media" src="assets/theme/images/slow-clap.gif" alt=""/>
          <p class="center">Follow me on twitter <a href="https://twitter.com/granze">@granze</a></p>
        </slide>

        <!-- =========== /SLIDE =========== -->

      </div>

      <flip-clock></flip-clock>

      <div id="slide-count" ng-show="{{isSlideCountVisible}}">{{$storage.currentSlide}}/{{lastSlide}}</div>

      <progress-bar class="ph" ng-show="{{isProgressBarVisible}}"></progress-bar>

    </div>

    <!-- build:js assets/scripts/applause.js -->
    <script src="assets/scripts/vendor/prism.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="assets/scripts/app.js"></script>
    <script src="config.js"></script>
    <script src="assets/scripts/controllers/deck.js"></script>
    <script src="assets/scripts/directives/slide.js"></script>
    <script src="assets/scripts/directives/fit.js"></script>
    <script src="assets/scripts/directives/progressbar.js"></script>
    <script src="assets/scripts/services/appdata.js"></script>
    <script src="assets/scripts/directives/markdown.js"></script>
    <script src="assets/scripts/directives/bg-img.js"></script>
    <script src="assets/scripts/directives/goto.js"></script>
    <script src="assets/scripts/directives/flip-clock.js"></script>
    <script src="assets/scripts/directives/prism.js"></script>
    <script src="assets/scripts/directives/note.js"></script>
    <script src="assets/scripts/directives/step.js"></script>
    <!-- endbuild -->
  </body>
</html>
