.text-center {
  text-align: center !important; }

input {
  display: block;
  width: 30%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 auto; }

code {
  display: inline-block; }

img.center {
  margin: 0 auto;
  display: block; }

img.round {
  border-radius: 10px; }

:not(pre) > code[class*="language-"] {
  white-space: pre-line !important;
  padding: 1em !important; }

.col {
  float: left; }
  .col.half {
    width: 45%; }
  .col.half + .col.half {
    margin-left: 10%; }
